.code1{
	position: absolute;
	top: 75px;
	left: 350px;
	text-align: right;
}
.code2{
	position: absolute;
	top: 95px;
	left: 350px;
	text-align: right;
}
.code3{
	position: absolute;
	top: 115px;
	left: 350px;
	text-align: right;

}

